config/service_account.json
.env
__pycache__/
*.pyc
.ipynb_checkpoints/
logs/
data/
spark/jars/
*.egg-info/
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfstate*
ingestion/batch/BigQuery
ingestion/batch/GCS
ingestion/batch/data-management-2-498012*
